.header-realtors {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 8px;

  @include  gridle_medium_screen {
    margin-right: 28px;
  }

  &__unread {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    width: 49px;
    height: 31px;
    font-size: 16px;
    background-color: $primaryColor;
    color: white;
    border-radius: 8px;
    margin-right: 16px;
  }

  &__select-realtor {
    font-size: 12px;

    select {
      width: 106px;
    }
  }
}
